/* 
 * -------------------------------------------------------------
 *            Adoption d'une vision mobile first
 * -------------------------------------------------------------
*/


/* Mini Reset */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
}

ul
{
    list-style-type: none;
}

/* Définition des couleurs de l'application */
:root
{
    --primary: rgb(69, 33, 178);
    --primary-for-bg: rgb(244, 245, 255);

    --light: rgb(247, 247, 247);
    --white: rgb(255, 255, 255);

    --dark: rgb(54, 52, 77);

    --danger: rgb(127, 7, 7);
    --success: rgb(0, 128, 0);

    --gray: rgb(33, 37, 41);
    --gray-light: rgb(206, 212, 218);
}

/* Structure des composants de la page */
html, body
{
    height: 100%;
}

body
{
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--primary-for-bg);
}

/* Composants réutilisables */
.btn
{
    text-decoration: none;
    color: var(--white);
    padding: .25rem .5rem;
    font-size: .9rem;
    border-radius: .25rem;
    border: none;
}

.btn-primary
{
    background-color: var(--primary);
}

.alert
{
    width: 100%;
    margin: 1rem auto;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    color: var(--white);
    background-color: var(--gray);
}

.alert-danger
{
    background-color: var(--danger);
}

.alert-success
{
    background-color: var(--success);
}




/* La barre de navigation */
nav
{
    text-align: center;
    background-color: var(--dark);
    padding-top: .5rem;
    padding-bottom: .5rem;
}

nav a
{
    color: var(--white);
    text-decoration: none;
}


/* Le contenu spécifique à chaque page */

.container-fluid
{
    margin: 10px 20px;
}

main h1
{
    text-align: center;
    margin-top: .8rem;
    margin-bottom: .8rem;
}

main .btn-container
{
    display: flex;
    justify-content: end;
    align-items: center;
}



main .form-container
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

main .form-container form
{
    background-color: var(--white);
    width: 100%;
    box-shadow: 0px 0px 10px var(--gray);
    padding: 1rem;
}

main .form-container .mb-3
{
    margin: 1rem 0rem;
}

main .form-container .form-control
{
    display: block;
    width: 100%;
    padding: .4rem 0.75rem;
    font-size: 1rem;
    border-radius: .35rem;
    color: var(--gray);
    background-color: var(--white);
    border: 1px solid var(--gray-light);
    background-clip: padding-box;
}

main .card-container
{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding: 20px 0px;
}

main .card-container .card
{
    background-color: var(--light);
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 0px 10px var(--dark);
    margin: 20px auto;
    transition: 1s;
}

main .card-container .card:hover
{
    /* transform: scale(1.02); */
    border-radius: 0% 0% 30% 0%;
    transition: .4s;
}

main .card-container .film-none
{
    margin-top: 100px;
    animation: in_out 3s linear infinite;
}

@keyframes in_out 
{
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

/* Le pieds de page */
footer
{
    color: var(--white);
    text-align: center;
    background-color: var(--dark);
    padding-top: .5rem;
    padding-bottom: .5rem;
}



/* -----------------------------Tablet------------------------------ */
@media screen and (min-width: 768px)
{
    main .form-container form
    {
        width: 60%;
    }

    main .card-container .card
    {
        width: 60%;
    }

    .alert
    {
        width: 70%;
    }
}



/* -----------------------------Laptop------------------------------ */
@media screen and (min-width: 900px)
{
    main .form-container form
    {
        width: 30%;
    }

}